@using Shop.Models
@model CartModel
@{
    var totalCount = 0;
    decimal totalSum = 0;
}

<table class="table table-bordered table-condensed">
    <tr>
        <th>Артикул</th>
        <th>Товар</th>
        <th>Цена/грн.</th>
        <th>Количество</th>
        <th>Общая стоимость</th>
        <th></th>
    </tr>
    @foreach (var sku in Model.listSku)
{
    var oneCount = Model.cart.listSku.First(s => s.idSku == sku.id).count;
    var onePrice = (Model.cart.listSku.First(s => s.idSku == sku.id).priceAct * Model.cart.listSku.First(s => s.idSku == sku.id).count);
    totalCount += oneCount;
    totalSum += onePrice;

    <tr class="text-right">
        <td>@sku.articul</td>
        <td class="text-left">@string.Format("{0} {1} {2}", sku.listCategory.First().staticcat.name, sku.brand.name, sku.name)</td>
        <td>@Model.cart.listSku.First(s => s.idSku == sku.id).priceAct.ToString("####.##")</td>
        <td>@Model.cart.listSku.First(s => s.idSku == sku.id).count.ToString("####")</td>
        <td>@string.Format("{0} грн", (Model.cart.listSku.First(s => s.idSku == sku.id).priceAct * Model.cart.listSku.First(s => s.idSku == sku.id).count).ToString("####.##"))</td>
        <td>
            @Ajax.ActionLink("Добавить", "AddToCartByIdCart", "Cart", new { idCart = Model.cart.id, idSku = sku.id }, new AjaxOptions { UpdateTargetId = "listSku" })
            @Ajax.ActionLink("Удалить", "RemoveSkuFromCartByIdCart", "Cart", new { idCart = Model.cart.id, idSku = sku.id }, new AjaxOptions { UpdateTargetId = "listSku" })
        </td>
    </tr>
}
    <tr class="text-right cart-amount-row-table">
        <td colspan="3">Итого</td>
        <td>@totalCount.ToString("#### шт")</td>
        <td>@totalSum.ToString("####.## грн")</td>
        <td></td>
    </tr>

</table>