@using Shop.Models
@model ListCartsModel
@{
    ViewBag.Title = "Список заказов";
    Page.Title = "Список заказов - Интернет-магазин Newer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("/Views/Admin/AdminMenuPartial.cshtml"); }

@if (Model != null && Model.listCarts != null)
{

    using (Html.BeginForm("ListCarts", "Cart"/*, new AjaxOptions() { UpdateTargetId = "cartData" }*/))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
    <div class="row">
        <div class="col-md-2">
            <span>с</span>
            <input class="form-control" type="dateJQ" name="start" id="start" value="@Model.startDate.Date.ToString("dd.MM.yyyy")" required="" />
        </div>
        <div class="col-md-2">
            <span>по</span>
            <input class="form-control" type="dateJQ" name="end" id="end" value="@Model.endDate.Date.ToString("dd.MM.yyyy")" required="" />
        </div>
        <div class="col-md-2">
            <span>статус</span>
            <select class="form-control" id="stateValue" name="stateValue">
                @foreach (var st in Model.listState)
                {
                    if (st.value == Model.state.value)
                    {
                        <option selected value="@st.value">@st.name</option>
                    }
                    else
                    {
                        <option value="@st.value">@st.name</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2">
            <br>
            <input class="btn btn-blue" type="submit" value="Показать" />
        </div>
         
    </div>
              

            }
        
                                <div class="row">
                                    <div id="listCarts" class="col-md-12">
                                  
                                            <table class="table table-bordered table-condensed">
                                                <tr>
                                                    <th style="min-width: 85px;">Заказ</th>
                                                    <th style="min-width: 85px;">Статус</th>
                                                    <th style="min-width: 90px;">Дата</th>
                                                    <th style="min-width: 200px;">Клиент</th>
                                                    <th style="min-width: 105px;">Телефон</th>
                                                    <th style="min-width: 400px;">Комментарий</th>
                                                </tr>
                                                @foreach (var cart in Model.listCarts)
                                                    {
                                                    <tr>
                                                        <td>
                                                            @Ajax.ActionLink(cart.cart.id.ToString(), "GetCart", new { idCart = cart.cart.id }, new AjaxOptions() { UpdateTargetId = "cartData" }, new { onclick = "editCartClick()" })
                                          
                                                        </td>
                                                        <td>@cart.cart.state.name</td>
                                                        <td>@cart.cart.createDate.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td>@cart.cart.nameClient</td>
                                                        <td>@cart.cart.phone</td>
                                                        <td>@cart.cart.comment</td>

                                                    </tr>
            }
                                            </table>
                                    </div> 
                                </div>

                                        <div id="EditCartDialog" title="Информация о заказе">
                                            <div id="cartData">
                                            </div>
                                        </div>
                                        }

