@using Shop.db.Entities
@using Shop.Models
@using MenuItem = Shop.db.Entities.MenuItem
@model Shop.Models.AdminModel
@{
    Page.Title = "Панель администрирования";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("AdminMenuPartial"); }

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Список брендов", "ListBrands", "Admin", new AjaxOptions { UpdateTargetId = "Brands" }, new { name = "updArr" })
    </div>
    <div class="panel-body panel-body-color">
        <div id="Brands"></div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Список категорий", "ListStaticCategoryes", "Admin", new AjaxOptions { UpdateTargetId = "Cats" },new {@name="updArr"})
</div>
    <div class="panel-body panel-body-color">
        <div id="Cats"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Список спецификаций", "ListStaticSpecification", "Admin", new AjaxOptions { UpdateTargetId = "Specs" }, new { @name = "updArr" })
</div>
    <div class="panel-body panel-body-color">
        <div id="Specs"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Менеджер меню", "ListMenuItem", "Admin", new AjaxOptions {UpdateTargetId = "menumanager"}, new {@name = "updArr"})
    </div>
    <div class="panel-body panel-body-color">
        <div id="menumanager"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Статусы чемоданов", "ListChemodanStatus", "Admin", new AjaxOptions {UpdateTargetId = "chemodanstatus"}, new {@name = "updArr"})
    </div>
    <div class="panel-body panel-body-color">
        <div id="chemodanstatus"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Типы чемоданов", "ListChemodanType", "Admin", new AjaxOptions {UpdateTargetId = "chemodantype"}, new {@name = "updArr"})
    </div>
    <div class="panel-body panel-body-color">
        <div id="chemodantype"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-head-color">
        @Ajax.ActionLink("Местоположения чемоданов", "ListProductLocation", "Admin", new AjaxOptions { UpdateTargetId = "productlocation" }, new { @name = "updArr" })
    </div>
    <div class="panel-body panel-body-color">
        <div id="productlocation"></div>
    </div>
</div>





