<ul class="nav nav-pills adm-panel-menu">
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("RolesManager","Account")">Пользователи</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("SkuData", "Admin")">Создать товар</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("ListArticles", "Admin")">Статьи</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("ListMailing", "Mailing")">E-mail подписки</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("HidenSku", "Admin")">Скрытые товары</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("ListProvider", "Admin")">Поставщики</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("ListClients", "Admin")">Клиенты</a></li>
    <li role="presentation" class="active adm-panel-menu-btn"><a href="@Url.Action("MainPageConfigurator", "Admin")">Главн.страница</a></li>
</ul>
