@model Shop.db.Entities.ChemodanType

@using (Ajax.BeginForm("AddOrUpdateChemodanType", "Admin", new AjaxOptions { UpdateTargetId = "ServerMessage" }, new { @class = "wnd-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     
            if (Model != null && Model.id > 0)
            {
                <input type="hidden" id="id" name="id" value="@Model.id" />
    }
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label>Название</label>
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @required = "" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
            <div class="col-md-2">
                <label>Цена/день</label>
                @Html.TextBoxFor(model => model.priceDay, new { @class = "form-control", @required = "", @type = "text" })
                @Html.ValidationMessageFor(model => model.priceDay)
            </div>
            @*<div class="col-md-2">
                    <label>Приоритет</label>
                    @Html.TextBoxFor(model => model.sortPriority, new { @class = "form-control", @required = "", @type = "number" })
                    @Html.ValidationMessageFor(model => model.sortPriority)
                </div>*@
            <div class="col-md-5">
                <label>Использовать</label>
                @Html.CheckBoxFor(model => model.isUse, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.isUse)
            </div>
        </div>
        <input class="btn btn-blue pull-right" type="submit" value="Сохранить" />
    </div>



}