@model Shop.db.Entities.StaticSpecification

@using (Ajax.BeginForm("AddOrUpdateStaticSpecification", "Admin", new AjaxOptions { UpdateTargetId = "ServerMessage" }, new { @class = "wnd-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

           if (Model != null && Model.id > 0)
            {
                <input type="hidden" id="id" name="id" value="@Model.id" />
    }

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>Название</label>
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @required = "" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
            <div class="col-md-6">
                <label>Приоритет сортировки</label>
                @Html.TextBoxFor(model => model.sortPriority, new { @class = "form-control", @required = "", @type = "number" })
                @Html.ValidationMessageFor(model => model.sortPriority)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-blue pull-right" type="submit" value="Сохранить" />
            </div>

        </div>
    </div>

}