@using AdvancedClasses
@model List<Shop.Models.ShortSKUModel>

<div class="swiper-container main-page-favorite-swipe js-main-page-favorite-swiper">

    <div class="swiper-wrapper">
        @foreach (var item in Model)
        {
            <div class="swiper-slide">
                <div class="short-product">
                    <div class="line1">
                        <img src="@item.smalPhotoPath" />
                    </div>
                    <div class="line2">
                        <span class="txt">артикул </span>
                        <span class="val">@item.articul</span>
                    </div>
                    <div class="line3">
                        <span class="val">@item.category</span>
                    </div>
                    <div class="line4">
                        @*<span class="txt">в день:</span>*@
                        <span class="price">@item.price.ToString("####")</span>
                        <span class="val">грн./день</span>
                    </div>
                    <div class="line5">
                        <a href="@Url.Action("SkuInfo", "Home", new {idSku = item.id})" class="button-default">Посмотреть</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>