@using Shop.Models
@using AdvancedClasses
@model SkuViewerModel
@{
    if (Model != null)
    {
        Page.Title = "Арендовать чемодан в Киеве по доступной цене | Chemodan.online";
        Model.Description = "Chemodan.online предлагает чемодан напрокат в Киеве по демократичной цене. С нами любая поездка станет как никогда удобной и комфортной – вы всегда можете арендовать чемодан нужного размера.";
        
        @section head {
            <meta name="description" content="@Model.Description">
            <meta name="keywords" content="@Model.Keywords">
        }
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left mobile-center">
                <div class="title-main-page">@Model.TitleProduct</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

    <div class="row hide-mobile">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="title-filter">Фильтр</div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="selected-filters js-selected-filters">
                
            </div>
        </div>
     </div>

<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        @if (Model.Filters != null)
        {
            <input type="hidden" class="js-filter-cat" value="@Model.IdCat">
           Html.RenderPartial("~/Views/Home/FiltersPartial.cshtml", Model.Filters); 
        }

    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <div class="row js-list-products">
            @if (Model.skuList.AnySafe())
            {
                Html.RenderPartial("~/Views/Home/ShortProductListPartial.cshtml", Model.skuList);
            }
        </div>
    </div>
</div>


     <div class="row">
       <div class="col-md-12">@(new HtmlString(Model.bodyText))</div>
    </div>
}

<div class="footer-article">
    <h1>Чемодан напрокат: большой выбор моделей на любой вкус</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сборы в путешествие или дальнюю поездку всегда доставляют массу хлопот. Помимо планирования маршрута и покупки билетов, существенная проблема – это куда упаковать вещи. Спешим сообщить всем, кто еще не в курсе – только что открылся прокат чемоданов в Киеве, который значительно облегчает сборы. Сколько бы у вас ни было вещей – вы всегда можете арендовать чемодан требуемой вместимости.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chemodan.online предлагает чемодан напрокат в Киеве по демократичной цене. С нами любая поездка станет как никогда удобной и комфортной – мы готовы предложить вам на выбор чемоданы различных размеров:</div>  
    <dl class="dl-horizontal">
        <dt>●</dt>
        <dd>для ручной клади;</dd>

        <dt>●</dt>
        <dd>большие;</dd>

        <dt>●</dt>
        <dd>средние;</dd>

        <dt>●</dt>
        <dd>ручная кладь для Wizz Air.</dd>
    </dl>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Наш прокат чемоданов в Киеве сотрудничает с известным и надежным производителем, чья продукция заслужила массу положительных отзывов. Это является 100%-ой гарантией, что арендованная у нас вещь без труда выдержит дальнюю поездку, не сломается и не утратит свои потребительские качества. (Каждому клиенту мы предоставляем прозрачный чехол, чтобы в аэропорту или на вокзале не заматывать в пленку и не повредить чемодан).</div>

    <h1>Аренда чемоданов: в чем выгода для клиента?</h1>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;До недавнего времени такая услуга, как прокат чемодана, не существовала. Если вы собирались в дорогу, вам следовало самостоятельно позаботиться, куда складывать все те вещи, которые вам могут понадобиться во время путешествия. Хотя сегодня имеется широкий выбор различных чемоданов и дорожных сумок, качественные модели стоят недешево.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Но ведь поездка обычно длится не больше 1-2 недель, нужно ли ради нее совершать дорогостоящую покупку? Не лучше ли взять чемодан напрокат, а после возвращения вернуть его обратно? Плюсы подобного шага:</div>
    <dl class="dl-horizontal">
        <dt>●</dt>
        <dd>не требуется тратить существенную сумму денег, которым можно найти лучшее применение;</dd>

        <dt>●</dt>
        <dd>можно арендовать чемодан в Киеве любого размера, который нужен;</dd>

        <dt>●</dt>
        <dd>не придется беспокоиться, что сумка или чемодан сломается по дороге – в аренду предлагаются только надежные и проверенные модели;</dd>

        <dt>●</dt>
        <dd>прокат чемоданов позволяет не загромождать квартиру вещами, которые нужны лишь раз в году.</dd>
    </dl>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Аренда чемоданов в Киеве – это удобно, прогрессивно и выгодно! Проверьте и убедитесь в это сами!</div>
</div>

