@using Shop.Models
@using AdvancedClasses
@model SkuViewerModel
@{
    if (Model != null && !string.IsNullOrEmpty(Model.Name))
    {
        Page.Title = "Оренда чемоданов | Chemodan.online";
        ViewBag.Title = Model.Name;

        @section head {
            <meta name="description" content="@Model.Description">
            <meta name="keywords" content="@Model.Keywords">
        }
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    if (Model.Filters!=null)
    {
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("~/Views/Home/FiltersPartial.cshtml", Model.Filters); }
            </div>
        </div>
    }
    <div class="row js-list-products">
        @if (Model.skuList.AnySafe())
        {
            Html.RenderPartial("~/Views/Home/ShortProductListPartial.cshtml", Model.skuList);
        }
    </div>

    <div class="row">
        <div class="col-ms-12">
            <h1 class="title-product-swiper">@Model.TitleProduct</h1>
        </div>
    </div>

    <div class="swiper-container main-page-favorite-swipe js-main-page-favorite-swiper">

        <div class="swiper-wrapper">
            @foreach (var item in Model.ListProduct)
            {
                <div class="swiper-slide">
                    <div class="short-product carusel">
                        <div class="line1">
                            <img src="@item.smalPhotoPath" />
                        </div>

                        <div class="line2">
                            <span class="art">арт. @item.articul</span>
                            <span class="price">@item.price.ToString("#### грн.")</span>
                        </div>

                        <div class="line3">
                            <a href="@Url.Action("SkuInfo", "Home", new {idSku = item.id})" class="btn btn-info-block">Посмотреть</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

     <div class="row">
       <div class="col-md-12">@(new HtmlString(Model.bodyText))</div>
    </div>
}
