@model Shop.Models.MainPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Аренда чемоданов | Chemodan.online";

    var path = ImagePathForView.GetPath();
}

<div>
    <div class="swiper-container main-page-swipe js-main-page-swiper hidden-xs">

        <div class="swiper-wrapper">
            @foreach (var item in Model.ListCaruselItem)
            {
                <div class="swiper-slide">
                    <div>
                        <img src="@path@item.Image" />
                        @*<a href="@item.Link">@item.Title</a>*@
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-ms-12">
            <div class="text-center">
                <div class="title-main-page">@Model.Title</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

        <div class="row info-category">

            @*@foreach (var item in Model.ListBlockInfo)
            {*@
            @if (Model.ListBlockInfo.Any()) { 
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item">
                    <div class="text-block pull-right">
                        <div class="title">
                            <a href="@Model.ListBlockInfo[0].Link">@Model.ListBlockInfo[0].Title</a>
                        </div>
                        <div class="name">
                            <img src="~/Content/img/icons/size.png"/><span>@Model.ListBlockInfo[0].name</span>
                        </div>

                        <div class="description">
                            <span>@Model.ListBlockInfo[0].Description</span>
                        </div>

                        <div class="button">
                            <a class="btn" href="@Model.ListBlockInfo[0].Link">Выбрать</a>
                        </div>

                    </div>
                    <div class="img-block pull-right">
                        <img src="@path@Model.ListBlockInfo[0].Image"/>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="item">
                    <div class="text-block pull-left">
                        <div class="title">
                            <a href="@Model.ListBlockInfo[1].Link">@Model.ListBlockInfo[1].Title</a>
                        </div>
                        <div class="name">
                            <img src="~/Content/img/icons/size.png" /><span>@Model.ListBlockInfo[1].name</span>
                        </div>

                        <div class="description">
                            <span>@Model.ListBlockInfo[1].Description</span>
                        </div>

                        <div class="button">
                            <a class="btn" href="@Model.ListBlockInfo[1].Link">Выбрать</a>
                        </div>

                    </div>
                    <div class="img-block pull-left">
                        <img src="@path@Model.ListBlockInfo[1].Image" />
                    </div>
                </div>
            </div>
            @*}*@
            }
        </div>

    <div class="row">
        <div class="col-ms-12">
            <div class="text-center">
                <div class="title-main-page">@Model.TitleProduct</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>


    <div class="swiper-container main-page-favorite-swipe js-main-page-favorite-swiper">

        <div class="swiper-wrapper">
            @foreach (var item in Model.ListProduct)
            {
                <div class="swiper-slide">
                    <div class="short-product">
                        <div class="line1">
                            <img src="@item.smalPhotoPath"/>
                        </div>
                        <div class="line2">
                            <span class="txt">артикул:</span>
                            <span class="val">@item.articul</span>
                        </div>
                        <div class="line3">
                            <span class="val">@item.category</span>
                        </div>
                        <div class="line4">
                            <span class="txt">в день:</span>
                            <span class="price">@item.price.ToString("####")</span>
                            <span class="val">грн.</span>
                        </div>
                        <div class="line5">
                            <a href="@Url.Action("SkuInfo", "Home", new {idSku = item.id})" class="button-default">Посмотреть</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


</div>