@using System.Globalization
@using Shop.Models
@model SKUModel
@{
    if (Model != null)
    {
        Page.Title = "Аренда чемоданов в Киеве, взять чемодан напрокат – это просто!";
        Model.DescriptionPage = "Chemodan.online предоставляет возможность всем желающим арендовать чемодан в Киеве по разумной цене. У нас вас ждут вежливые и опытные сотрудники, демократичные расценки, удобные способы оплаты и доставки, высокий уровень сервиса";

        @section head {
            <meta name="description" content="@Model.DescriptionPage">
            <meta name="keywords" content="@Model.KeywordsPage">
        }

        @*@section head {
                 <meta name="description" content="@Model.description">
                 <meta name="keywords" content="@Page.Title">
                 <meta property="fb:app_id" content="531214913718356" />
                 <meta property="fb:admins" content="100000912166952" />
                 <meta property="og:url" content="@Request.Url" />
                 <meta property="og:type" content="website" />
                 <meta property="og:title" content="@string.Format("{0}, артикул:{1}, цена:{2}", Model.name, Model.articul, Model.priceAct.ToString("####грн."))" />
                 <meta property="og:description" content="@(new HtmlString(Model.description))" />
                 <meta property="og:image:type" content="image/jpeg" />
                 <meta property="og:image" content="@string.Format("{0}{1}", Request.UrlReferrer , Model.smalPhotoPath)" />

            }*@
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="product-card">
        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs">
                    <a href="/">Главная</a>
                    <span>></span>
                    <a href="/Home/ListSkuOnCategory?idCat=10010">Чемоданы</a>
                    <span>></span>
                    <a href="/Home/SkuInfo?idSku=@Model.id">@Model.name</a>
                </div>
            </div>
        </div>

        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="title text-left">@Model.name</div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @if (Model.listPhoto != null && Model.listPhoto.Any())
                {
                    <div class="swiper-container card-page-swipe js-card-page-swiper">

                        <div class="swiper-wrapper">
                            @foreach (var item in Model.listPhoto)
                            {
                                <div class="swiper-slide">
                                    <div>
                                        <img src="@item.path"/>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                }
                else
                {
                    <img class="col-md-12" src="@Model.smalPhotoPath"/>
                }


                @{Html.RenderPartial("PayOneClickPartial", new PayOneClickModel("full-width hidden-xs hidden-lg hidden-md", Model.id, ""));}

            </div>
            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="title tablet text-left hidden-lg hidden-md">@Model.name</div>
                <div class="art">артикул @Model.articul</div>
                <div class="prices">
                    <div class="line1">
                        <span class="price-value">@Model.chemodanPriceDay.ToString("F2", CultureInfo.InvariantCulture)</span>
                        <span class="price-curency">грн.</span>
                        <span class="dotted"></span>
                        <span class="text">Прокат в день</span>
                    </div>

                    <div class="line2">
                        <span class="price-value">@Model.price.ToString("F2", CultureInfo.InvariantCulture) грн.</span>
                        <span class="dotted"></span>
                        <span class="text">Залоговая сумма</span>
                    </div>

                </div>


                <div class="js-tabs-block">
                    <div class="product-tabs">
                        <div class="tab js-product-tab-title active" data-id="1">
                            <span>Характеристики</span>
                        </div>
                        <div class="tab js-product-tab-title" data-id="2">
                            <span>Описание</span>
                        </div>
                    </div>
                    <div class="product-tabs-content js-product-tabs">
                        <div class="js-product-tab-content" data-id="1">
                            @foreach (var spec in Model.listSpecification)
                        {
                                <div class="spec-item">
                                    <span class="rect"></span>
                                    <span class="spec-text">@spec.staticspec.name</span>
                                    <span class="dotted"></span>
                                    <span class="spec-value">@spec.value</span>
                                </div>
                        }
                        </div>
                        <div class="js-product-tab-content hide" data-id="2">
                            @(new HtmlString(Model.description))


                            @if (!string.IsNullOrEmpty(Model.care))
                        {

                                <div>@(new HtmlString(Model.care))</div>
                        }
                        </div>
                    </div>
                </div>


                <div class="button-info blue js-addcart hidden-xs" data-id="@Model.id" data-price="@Model.chemodanPriceDay.ToString("F2", CultureInfo.InvariantCulture)" data-max="@Model.maxCount" data-zalog="@Model.price.ToString("F2", CultureInfo.InvariantCulture)">Добавить в корзину</div>

                @{Html.RenderPartial("PayOneClickPartial", new PayOneClickModel("full-width hidden-sm hidden-lg hidden-md", Model.id, ""));}

            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
                <div class="product-info-block">
                    <div class="line1">Самовывоз</div>
                    <div class="line2">
                        <a href="/s/cnt/" target="_blank">
                            <img src="~/Content/img/icons/loc.png"/><span>г. Киев, пр. Победы, 67, корпус “I”, этаж 2, офис 213</span>
                        </a>
                    </div>
                </div>

                <div class="product-info-block">
                    <div class="line1">Гарантия гигиены</div>
                    <div class="line2">
                        <a href="/s/faq/#panellink3" target="_blank">
                            <img src="~/Content/img/icons/assistant.png"/><span>Прочитайте про гигиену чемоданов</span>
                        </a>
                    </div>
                </div>

                @{Html.RenderPartial("PayOneClickPartial", new PayOneClickModel("",Model.id,""));}

            </div>
        </div>

        <div class="row hidden-md hidden-lg">
            <div class="col-xs-12 col-sm-6">
                <div class="product-info-block">
                    <div class="line1">Самовывоз</div>
                    <div class="line2">
                        <a href="/s/cnt/" target="_blank">
                            <img src="~/Content/img/icons/loc.png" /><span>г. Киев, пр. Победы, 67, корпус “I”, этаж 2, офис 213</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="product-info-block">
                    <div class="line1">Гарантия гигиены</div>
                    <div class="line2">
                        <a href="/s/faq/#panellink3" target="_blank">
                            <img src="~/Content/img/icons/assistant.png" /><span>Прочитайте про гигиену чемоданов</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-ms-12">
                <div class="text-center">
                    <div class="title-main-page">@Model.TitleProduct</div>
                </div>
                <div class="hr-title"></div>
            </div>
        </div>

        @{Html.RenderPartial("FavoriteProductsPartial",Model.ListProduct);}

    </div>
}


<div class="footer-article">
    <h1>Взять чемодан напрокат в Киеве – это просто!</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Прокат чемоданов в Киеве – одна из наиболее перспективных и прогрессивных услуг, появившихся в последнее время. Теперь, собираясь в деловую поездку или заграничное путешествие, вам не придется ломать голову над вопросом, куда сложить все нужные вещи. За смешную сумму можно взять большой чемодан, средний чемодан, ручную кладь, а так же ручную кладь Wizz Air напрокат в Киеве на весь срок поездки и сосредоточиться на отдыхе или решении деловых задач.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chemodan.online предоставляет возможность всем желающим арендовать большой чемодан, средний чемодан, ручную кладь, а так же ручную кладь Wizz Air в Киеве по разумной цене. У нас вас ждут вежливые и опытные сотрудники, большой выбор моделей от проверенного производителя, демократичные расценки, удобные способы оплаты и доставки, высокий уровень сервиса.</div>

    <h1>Арендовать чемодан нужного размера – значит гарантировать комфортную поездку</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Регулярные путешествия стали одним из наиболее популярных способов отдыха в наше время. Миллионы людей каждый год отправляются за тысячи километров от дома, чтобы взобраться на пирамиды Египта, сфотографироваться у Эйфелевой башни, посетить Колизей или Собор Святого Петра в Риме или провести отпуск под палящими лучами солнца на пляже.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;При этом, большинство людей привыкли к комфорту, так что стараются взять с собой в поездку множество вещей. Помочь в данной ситуации призвана аренда чемоданов. Эта услуга дает возможность взять чемодан напрокат, в который можно сложить все, что необходимо: от любимой одежды и обуви до ноутбука, планшета и фотоаппарата.</div>

    <h1>Аренда чемоданов в Киеве на chemodan.online</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;У нас на сайте представлены чемоданы различных габаритов, оснащенных удобной ручкой для транспортировки и четырьмя прочными колесиками, способными выдержать несколько десятков килограммов груза. Привлекательный дизайн, поликарбонатный корпус, эффектный цвет, продуманная эргономика – все, что требуется от качественного чемодана для отпуска.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Прокат чемодана в Киеве значительно облегчает сборы в отпуск и позволяет при этом экономить бюджет. Кроме того, вам не придется загромождать квартиру вещами, которые используются только один-два раза в год. Обращайтесь в прокат чемоданов chemodan.online и оцените сами, насколько это удобно и выгодно!</div>
</div>
