@using System.Globalization
@using AdvancedClasses
@model Shop.Models.OrderModel

@{
    var days = (Math.Round((Model.To - Model.From).TotalDays));
}

@foreach (var item in Model.OrderProducts)
{
    <div class="row">
        <div class="col-md-2">

            <div class="product-to-order js-product-to-order">
                <label class="glyphicon glyphicon-trash" onclick="adminOrderManager.removeProduct(@item.Id, @item.OrderId)"></label>
                |
                <label onclick="adminOrderManager.showExistProducts(@item.ProductId, @item.Id, @item.OrderId)">
                    @(string.IsNullOrEmpty(item.Code) ? "назначить" : item.Code)
                </label>

            </div>
        </div>
        <div class="col-md-3">
            <a class="btn-link" href="/Home/SkuInfo?idSku=@item.ProductId" target="_blank">@item.ProductName</a>
        </div>

        <div class="col-md-1">
            @item.Article
        </div>

        <div class="col-md-2">

            <span class="">@item.PriceDay.ToString("F2", CultureInfo.InvariantCulture)</span>
     
        </div>
        <div class="col-md-2">

            <span class="">@((item.PriceDay*(decimal) days).ToString("F2", CultureInfo.InvariantCulture))</span>
     
        </div>

        <div class="col-md-2">
            <span class="num">@item.FullPrice.ToString("F2", CultureInfo.InvariantCulture)</span>
        </div>


    </div>
}


<div class="row" style="border-top: 1px solid gray">

    <div class="col-md-2">
        Итого
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <label>@((Model.OrderProducts.Sum(item => item.PriceDay)*(decimal) days).ToString("F2", CultureInfo.InvariantCulture))</label>грн
    </div>

    <div class="col-md-2">
        <label>@((Model.OrderProducts.Sum(item => item.FullPrice)).ToString("F2", CultureInfo.InvariantCulture))</label>грн
    </div>

</div>