@using System.Globalization
@using Shop.Models
@using AdvancedClasses
@using Shop.db.Entities
@model OrderClientPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null)
    {
        Page.Title = "Аренда чемоданов | Chemodan.online";
        @section head {
            <meta name="description" content="@Model.Description">
            <meta name="keywords" content="@Model.Keywords">
        }
    }
}
<div class="container">
    <div class="js-order-pages">
        <div class="js-order-page1">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-left">
                        <div class="title-main-page">Корзина</div>
                    </div>
                    <div class="hr-title"></div>
                </div>
            </div>

            <div class="row hidden-md hidden-lg">
                <div class="col-xs-12 col-sm-12">
                    <div class="order-info">
                        <div class="title">Период бронирования</div>

                        <div class="info-label">Выбор даты *</div>

                        <div class="date-values js-card-dates">
                            <img src="~/Content/img/icons/calendar.png" />
                            <input type="date" name="From" value="@Model.Order.From.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" onchange="cartManager.setDateFrom(event)" />
                            <span class="long-minus">—</span>
                            <input type="date" name="To" value="@Model.Order.To.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" onchange="cartManager.setDateTo(event)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 order-table">
                    <div class="row head">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            Товар
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            Количество
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Цена аренды
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            Стоимость
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                        </div>
                    </div>
                    <div class="body">
                        @foreach (var item in Model.Order.Products)
                         {
                        <div class="row js-cart-line">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="item">
                                    <div class="product-info">
                                        <div class="img-block">
                                            <img src="@item.smalPhotoPath" />
                                        </div>
                                        <div class="txt-block">
                                            <div class="line1">@item.name</div>
                                            <div class="line2">Артикул @item.articul</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="item js-control-count">
                                    <div class="cell">
                                        <div class="counter">
                                            <span class="js-removecart" data-id="@item.id" data-price="@item.price.ToString("F2", CultureInfo.InvariantCulture)">-</span>
                                            <span class="cont-item js-count-item" data-id="@item.id">0</span>
                                            <span class="js-addcart" data-id="@item.id" data-price="@item.price.ToString("F2", CultureInfo.InvariantCulture)" data-max="@item.maxCount">+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="item">
                                    <span class="num">@item.price.ToString("F2", CultureInfo.InvariantCulture)</span>
                                    <span class="txt"> грн.</span>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="item">
                                    <span class="num js-summ-item" data-id="@item.id">0</span>
                                    <span class="txt"> грн.</span>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <div class="item">
                                    <span class="clear-line js-removecart" data-id="@item.id" data-remove-all="true">
                                        <img src="~/Content/img/icons/clear.png" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-xs-5 col-sm-12 col-md-5 col-lg-5">
                    <div class="order-info hidden-sm hidden-xs">
                        <div class="title">Период бронирования</div>

                        <div class="info-label">Выбор даты *</div>

                        <div class="date-values js-card-dates">
                            <img src="~/Content/img/icons/calendar.png" />
                            <input type="date" name="From" value="@Model.Order.From.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" onchange="cartManager.setDateFrom(event)" />
                            <span class="long-minus">—</span>
                            <input type="date" name="To" value="@Model.Order.To.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" onchange="cartManager.setDateTo(event)" />
                        </div>
                    </div>

                    <div class="order-info">
                        <div class="title">Сумма в корзине</div>
                        <div class="order-summ-block">
                            <div class="summ-content">
                                <span class="summ-label">К оплате:</span>
                                <span class="order-summ-val text-center js-order-summ">0</span> грн.
                            </div>
                            <hr class="order"/>
                            <br/>
                            <br/>
                            <div class="button">
                                <span class="btn button-order">Оформить заказ →</span>
                            </div>
                        </div>
                    

                    </div>

                </div>

            </div>

        </div>


        <div class="js-order-page2">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-left">
                                <div class="title-main-page">Контактные данные</div>
                            </div>
                            <div class="hr-title"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Фамилия *</label>
                            <input class="form-control" type="text" name="ClientLastName" value="@Model.Order.ClientLastName" />
                        </div>
                        <div class="col-md-6">
                            <label>Имя *</label>
                            <input class="form-control" type="text" name="ClientFirstName" value="@Model.Order.ClientFirstName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email *</label>
                            <input class="form-control" type="text" name="ClientEmail" value="@Model.Order.ClientEmail" />
                        </div>
                        <div class="col-md-6">
                            <label>Телефон *</label>
                            <input class="form-control" type="text" name="ClientPhone" value="@Model.Order.ClientPhone" />
                        </div>
                    </div>
                    <div class="js-addres hide">
                        <div class="row">
                            <div class="col-md-12">Адрес доставки</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Город</label>
                                <input class="form-control" type="text" name="City" value="@Model.Order.City" />
                            </div>
                            <div class="col-md-6">
                                <label>Дом</label>
                                <input class="form-control" type="text" name="Home" value="@Model.Order.Home" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Тип улицы</label>
                                <select class="form-control" name="TypeStreet">
                                    @foreach (var item in TypesStreet.Types)
                                    {
                                    <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Этаж</label>
                                <input class="form-control" type="text" name="Level" value="@Model.Order.Level" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Улица</label>
                                <input class="form-control" type="text" name="Street" value="@Model.Order.Street" />
                            </div>
                            <div class="col-md-6">
                                <label>Квартира</label>
                                <input class="form-control" type="text" name="Flat" value="@Model.Order.Flat" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-12">Ваш заказ</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Доставка</span>
                        </div>
                        <div class="col-md-6">
                            <div class="radio-btns js-delivery-types">
                                @{var selected = "selected";}
                                @foreach (var delType in Model.DeliveryTypes)
                                {
                                <div class="@selected js-set-ratio js-delivery-type" data-id="@delType.Id">
                                    <span class="r1"><span class="r2"></span></span> @delType.Name
                                </div>
                                    selected = "";
                                }
                                <input type="hidden" name="DeliveryType" value="@Model.DeliveryTypes.First().Id" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <span>Оплата</span>
                        </div>
                        <div class="col-md-6">
                            <div class="radio-btns js-radio-btns">
                                @{selected = "selected";}
                                @foreach (var delType in Model.PaymentTypes)
                                {
                                <div class="@selected js-set-ratio js-payment-type" data-id="@delType.Id">
                                    <span class="r1"><span class="r2"></span></span> @delType.Name
                                </div>
                                    selected = "";
                                }
                                <input type="hidden" name="PaymentType" value="@Model.PaymentTypes.First().Id" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <span>К оплате:</span>
                        </div>
                        <div class="col-md-6">
                            <div class="order-summ">
                                <span class="js-order-summ">0</span> грн.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span>Я согласен с условиями договора и бла бла бла и бла бла бла....</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="js-confirm-order" style="display: block; padding: 5px; border: 1px black solid; text-align: center;border-radius: 5px">Подтвердить заказ--></span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>