@using AdvancedClasses
@model List<Shop.Models.OrderModel>

@foreach (var item in Model.OrderByDescending(it => it.CreateDate))
{
    <tr>
        <td><a class="btn btn-link" href="/Order/EditOrder?id=@item.OrderId">@((item.OrderPrefix>0)? string.Format("{0}-{1}", item.OrderNumber, item.OrderPrefix) : item.OrderNumber.ToString())</a></td>
        <td>@item.CreateDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
        <td>@item.ClientLastName @item.ClientFirstName</td>
        <td>@item.ClientPhone</td>
        <td>@item.DeliveryType.Name</td>
        <td>@(new HtmlString((item.IsPaid) ? "<b>Да</b>" : "Нет"))</td>
        <td class='@((item.OrderState.Id == 1) ? "success" : "")'>@item.OrderState.Name</td>
        <td>@(new HtmlString((item.IsHaveContract) ? "<b>Да</b>" : "Нет"))</td>
    </tr>
}
<tr>
    <td></td>
    <td></td><td></td><td></td><td></td><td></td>
    <td>Итого</td>
    <td>@Model.Count()</td>
</tr>