@using AdvancedClasses
@model List<Shop.Models.OrderModel>

@foreach (var item in Model)
{
    <tr>
        <td><a href="/Order/EditOrder?id=@item.OrderId">@item.OrderNumber</a></td>
        <td>@item.CreateDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
        <td>@item.ClientLastName @item.ClientFirstName</td>
        <td>@item.ClientPhone</td>
        <td>@item.DeliveryType.Name</td>
        <td>@(new HtmlString((item.IsPaid) ? "<b>Да</b>" : "Нет"))</td>
        <td>@item.OrderState.Name</td>
    </tr>
}