@using System.Globalization
@using Shop.Models
@using AdvancedClasses
@using Shop.db.Entities
@model OrdersAdminPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null)
    {
        Page.Title = "Аренда чемоданов | Chemodan.online";
    }
}

@{ Html.RenderPartial("~/Views/Admin/AdminMenuPartial.cshtml"); }
<div class="admindrders">
    @using (Ajax.BeginForm("FilterOrders", new AjaxOptions {UpdateTargetId = "ServerMessage", OnSuccess = "onSucssess" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        <select name="filterType" class="form-control">
                            <option value="order">Номер заказа</option>
                            <option value="phone">Телефон</option>
                            <option value="name">Фамилия</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input name="filterValue" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Применить</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Ajax.BeginForm("FilterOrders", new AjaxOptions {UpdateTargetId = "adminorders"}))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="filter-row">
                    <div class="flter-item">
                        <label>Период</label><br/>
                        <div class="date-values border">
                            <img src="~/Content/img/icons/calendar.png"/>
                            <input type="date" name="From" value="@Model.From.Date.ToString("yyyy-MM-dd")" min="@(new DateTime(2016, 01, 01))"/>
                            <span class="long-minus">—</span>
                            <input type="date" name="To" value="@Model.To.Date.ToString("yyyy-MM-dd")" min="@(new DateTime(2016, 01, 01))"/>
                        </div>
                    </div>
                    <div class="flter-item">
                        <label>Оплачен</label>
                        <select name="IsPaid" class="form-control">
                            <option value="all">не выбрано</option>
                            <option value="true">да</option>
                            <option value="false">нет</option>
                        </select>
                    </div>
                    <div class="flter-item">
                        <label>Статус</label>
                        <select name="OrderState" class="form-control">
                            <option value="all">не выбрано</option>
                            @foreach (var item in Model.OrderStates)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="flter-item">
                        <button type="submit" class="btn btn-danger">Применить</button>
                    </div>

                </div>

            </div>
        </div>
    }


    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>№ заказа</th>
                    <th>Дата</th>
                    <th>Фамилия Имя</th>
                    <th>Телефон</th>
                    <th>Доставка</th>
                    <th>Оплачен</th>
                    <th>Статус</th>
                </tr>
                <tbody id="adminorders">
                @{Html.RenderPartial("OrdersAdminPartial", Model.Orders);}
                </tbody>
            </table>

        </div>
    </div>
</div>
