@using System.Globalization
@using Shop.Models
@using AdvancedClasses
@using Shop.db.Entities
@model OrdersAdminPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null)
    {
        Page.Title = "Аренда чемоданов | Chemodan.online";
    }
}

@{ Html.RenderPartial("~/Views/Admin/AdminMenuPartial.cshtml"); }

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>№ заказа</th>
                <th>Дата</th>
                <th>Фамилия Имя</th>
                <th>Телефон</th>
                <th>Оплачен</th>
                <th>Статус</th>
              
            </tr>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td><a href="/Order/EditOrder?id=@item.OrderId">@item.OrderNumber</a></td>
                    <td>@item.ClientLastName @item.ClientFirstName</td>
                    <td>@item.ClientPhone</td>
                    <td>@item.PaymentType.Name</td>
                    <td>@item.OrderState.Name</td>
                </tr>
            }
        </table>

    </div>
</div>

